.chat {
  display: flex;
  width: 100%;
  min-height: 70vh;
  padding: 30px 20px;
  box-shadow: 0px 0px 20px 0px #00000026;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2;
  width: 100%;
  min-height: 70vh;
}

.navbar {
  border-right: 1px solid var(--gray-200);
}

.form {
  padding-left: 10px;
}

@media screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
}